{{ define "mainpage" }}
{{ template "header" "overview" }}
<div class="row">
  <div class="col-md-8">
    <h3>Queues</h3>
    <table class="table sortable">
      <thead>
        <tr>
          <th class="queuename">Queue</th>
          <th class="queuenum">Threads</th>
          <th class="queuenum">Pending</th>
          <th class="queuenum">Running</th>
          <th class="queuenum">Done</th>
          <th class="queuenum">Failed</th>
          <th class="queuenum">Delayed</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $Queue := .Queues }}
          <tr>
            <td class="queuename">{{ $Queue.Name }}</td>
            <td class="queuenum">{{ $Queue.Threads }}</td>
            <td class="queuenum"><a href="{{BasePath}}/pending/{{ $Queue.Name }}">{{ $Queue.Pending }}</a></td>
            <td class="queuenum"><a href="{{BasePath}}/working/{{ $Queue.Name }}">{{ $Queue.Running }}</a></td>
            <td class="queuenum"><a href="{{BasePath}}/done/{{ $Queue.Name }}">{{ $Queue.Done }}</a></td>
            <td class="queuenum"><a href="{{BasePath}}/failed/{{ $Queue.Name }}">{{ $Queue.Failed }}</a></td>
            <td class="queuenum"><a href="{{BasePath}}/delayed/{{ $Queue.Name }}">{{ $Queue.Delayed }}</a></td>
          </tr>
        {{ end }}
      </tbody>
    </table>

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>{{ .TotalActiveWorkers }} of {{ len .RunningWorkers }} Alive Workers Active ({{ Minus (len .RunningWorkers) .TotalActiveWorkers }} Idle)</h3>
    <table class="table sortable">
      <thead>
        <tr>
          <th>Worker Name</th>
          <th>Machine Name</th>
          <th>Machine IP</th>
          <th>Running</th>
          <th>Memory</th>
          <th>CPU</th>
          <th>Process ID</th>
          <th>HighLoad</th>
          <th>Queues</th>
          <th>Config / BinHash</th>
          <th>Start</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $Worker := .RunningWorkers }}
          <tr>
            <td>{{ $Worker.ProcName }}</td>
            <td sorttable_customkey="{{ ReverseDomain $Worker.Hostname }}">{{ $Worker.HostnameShort }}</td>
            <td>{{ $Worker.IP }}</td>
            <td><a href="{{BasePath}}/working/*/{{ $Worker.ProcName }}">{{ $Worker.Running }}</a></td>
            <td>{{ $Worker.MemUsage }}%</td>
            <td>{{ $Worker.CpuUsage }}%</td>
            <td>{{ $Worker.PID }}</td>
            <td>{{ $Worker.HighLoad }}</td>
            <td>
              {{ range $queueName, $ct := $Worker.Queues }}
                {{ $ct }}x<tt>{{ $queueName }}</tt>
              {{ end }}
            </td>
            <td>{{ $Worker.ConfigFile }} {{ $Worker.BinHash }}</td>
            <td sorttable_customkey="{{FormatTime .WorkerStartTime}}"><span title="Started: {{$Worker.WorkerStartTime}}, HB Age: {{ TimeSince $Worker.Timestamp }}">{{ TimeSince $Worker.WorkerStartTime }}</span></td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ template "footer" }}
{{ end }}